<div class="grid">
  <%= render Components::Backend::Card.new(title: "vouch for #{@identity.first_name} #{@identity.last_name}") do %>
    <%= render Components::Backend::Item.new(icon: "тна", href: backend_identity_path(@identity)) do %>
      <b>cancel</b>
    <% end %>
    <hr>
    <%= form_with model: [@identity, @vouch], url: create_vouch_backend_identity_path(@identity), method: :post, local: true do |f| %>
      <div class="section">
        <div class="section-header"><h3>evidence</h3></div>
        <div class="section-content">
          <div class="form-row">
            <%= f.label :evidence, "upload picture" %>
            <%= f.file_field :evidence, required: true %>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit "create vouch", class: "action_button" %>
      </div>
    <% end %>
  <% end %>
</div>
