<div class="tui-page">
  <article box-="round">
    <h2>vouch for <%= @identity.first_name %> <%= @identity.last_name %></h2>
    <div is-="separator"></div>
    <a href="<%= backend_identity_path(@identity) %>" class="tui-item">
      <span class="tui-item-icon">&#x2b60;</span>
      <span class="tui-item-text"><b>cancel</b></span>
    </a>
    <div is-="separator"></div>
    <%= form_with model: [@identity, @vouch], url: create_vouch_backend_identity_path(@identity), method: :post, local: true do |f| %>
      <h3>evidence</h3>
      <div>
        <%= f.label :evidence, "upload picture" %>
        <%= f.file_field :evidence, required: true %>
      </div>
      <div is-="separator"></div>
      <div style="display:flex;gap:1ch;">
        <%= f.submit "create vouch" %>
      </div>
    <% end %>
  </article>
</div>
