<div class="auth-container">
  <div class="auth-card">
    <header>
      <% if @program.present? %>
        <h1>Continue to <%= @program.name %></h1>
        <small>Sign in or create an account to continue</small>
      <% else %>
        <h1>Continue</h1>
        <small>Sign in or create an account to continue</small>
      <% end %>
    </header>

    <div style="margin: 3rem 0;">
      <div class="grid" style="gap: 1rem;">
        <%= link_to signup_path(return_to: @oauth_return_to), style: "text-decoration: none;" do %>
          <button type="button" class="primary welcome-create-button">
            Create Account
          </button>
        <% end %>

        <%= link_to login_path(return_to: @oauth_return_to), style: "text-decoration: none;" do %>
          <button type="button" class="secondary welcome-signin-button">
            Sign In
          </button>
        <% end %>
      </div>
    </div>

    <footer class="welcome-footer">
      <p class="welcome-links">
        <%= link_to "FAQ", faq_path %>
      </p>

      <% if Rails.application.config.try(:git_version).present? %>
        <span class="welcome-version">
          Build
          <% if Rails.application.config.try(:commit_link).present? %>
            <%= link_to Rails.application.config.git_version, Rails.application.config.commit_link, target: "_blank" %>
          <% else %>
            <%= Rails.application.config.git_version %>
          <% end %>
          <% if Rails.application.config.try(:server_start_time).present? %>
            from <%= time_ago_in_words(Rails.application.config.server_start_time) %> ago
          <% end %>
        </span>
      <% end %>
    </footer>
  </div>
</div>
