<div class="auth-container">
  <div class="auth-card">
    <header>
      <h1><%= t ".title" %></h1>
      <small><%= t ".subtitle" %></small>
    </header>

    <div style="margin: 3rem 0;">
      <div class="grid" style="gap: 1rem;">
        <%= link_to signup_path, style: "text-decoration: none;" do %>
          <button type="button" class="primary welcome-create-button">
            <%= inline_icon("member-add", size: 24) %> <%= t ".cta_create" %>
          </button>
        <% end %>

        <%= link_to login_path, style: "text-decoration: none;" do %>
          <button type="button" class="secondary welcome-signin-button">
            <%= inline_icon("door-enter", size: 24) %> <%= t ".cta_signin" %>
          </button>
        <% end %>
      </div>
    </div>

    <footer class="welcome-footer">

      <p class="welcome-links">
<!--        <%#= link_to t(".security_link"), security_path %> • -->
        <%= link_to t(".faq_link"), faq_path %>
      </p>

      <% if Rails.application.config.try(:git_version).present? %>
        <span class="welcome-version">
          Build
          <% if Rails.application.config.try(:commit_link).present? %>
            <%= link_to Rails.application.config.git_version, Rails.application.config.commit_link, target: "_blank" %>
          <% else %>
            <%= Rails.application.config.git_version %>
          <% end %>
          <% if Rails.application.config.try(:server_start_time).present? %>
            from <%= time_ago_in_words(Rails.application.config.server_start_time) %> ago
          <% end %>
        </span>
      <% end %>
    </footer>
  </div>
</div>
