<% content_for :title, "Sign in" %>
<header>
  <h1>Sign in</h1>
</header>
<%= form_with url: sessions_path, method: :post, local: true do |form| %>
  <%= form.hidden_field :return_url, value: params[:return_url] if params[:return_url] %>
  <fieldset>
    <%= form.label :email, "Email address" %>
    <%= form.email_field :email,
          required: true,
          placeholder: "Enter your email address",
          value: session[:sign_in_email] %>
  </fieldset>
  <%= form.submit "Send login code!", style: "max-width: 200px;" %>
<% end %>
<footer>
  <p>
    Don't have an account?
    <%= link_to "Get started here", basic_info_onboarding_path %>
  </p>
</footer>
