<div class="auth-container">
  <div class="auth-card oauth-consent">
    <header>
      <h1><%= session.dig(:stashed_data, "splash_message") || "Continue to #{@pre_auth.client.name}?" %></h1>
      <% application = Program.find_by(uid: @pre_auth.client.uid) %>
      <% case application&.trust_level %>
      <% when "community_untrusted" %>
        <%= render Components::Banner.new(kind: :warning) do %>
          <strong><%= t('.banners.community_untrusted.title') %></strong><br/>
          <%= raw t('.banners.community_untrusted.message_html') %>
        <% end %>
      <% when "community_trusted" %>
        <%= render Components::Banner.new(kind: :info) do %>
          <strong><%= t('.banners.community_trusted.title') %></strong> <br/>
          <%= raw t('.banners.community_trusted.message_html') %>
        <% end %>
      <% end %>
      <small>
        <%= raw t('.prompt', client_name: content_tag(:strong) { @pre_auth.client.name }) %>
      </small>
    </header>
    
    <% if @pre_auth.scopes.count > 0 %>
      <div class="oauth-permissions">
        <fieldset>
          <legend><%= t('.able_to') %></legend>
          <ul class="permissions-list">
            <% @pre_auth.scopes.each do |scope| %>
              <li>
                <% case scope %>
                <% when "basic_info" %>
                  <div class="permission-item">
                    <strong><%= t('.scopes.basic_info.title') %></strong>
                    <ul class="permission-details">
                      <li><span><%= t('.scopes.basic_info.email_label') %></span> <%= current_identity.primary_email %></li>
                      <li><span><%= t('.scopes.basic_info.name_label') %></span> <%= current_identity.first_name %> <%= current_identity.last_name %></li>
                      <li><span><%= t('.scopes.basic_info.verification_status_label') %></span> <%= current_identity.verification_status %></li>
                    </ul>
                  </div>
                <% when "email" %>
                  <div class="permission-item">
                    <strong><%= t('.scopes.email.title') %></strong>
                    <ul class="permission-details">
                      <li><span><%= t('.scopes.email.email_label') %></span> <%= current_identity.primary_email %></li>
                    </ul>
                  </div>
                <% when "name" %>
                  <div class="permission-item">
                    <strong><%= t('.scopes.name.title') %></strong>
                    <ul class="permission-details">
                      <li><span><%= t('.scopes.name.name_label') %></span> <%= current_identity.first_name %> <%= current_identity.last_name %></li>
                    </ul>
                  </div>
                <% when "slack_id" %>
                  <div class="permission-item">
                    <strong><%= t('.scopes.slack_id.title') %></strong>
                    <ul class="permission-details">
                      <li><span><%= t('.scopes.slack_id.slack_id_label') %></span> <%= current_identity.slack_id || t('.scopes.slack_id.not_set') %></li>
                    </ul>
                  </div>
                <% else %>
                  <div class="permission-item">
                    <strong><%= t scope, scope: [:doorkeeper, :scopes] %></strong>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </fieldset>
      </div>
    <% end %>
    
    <div class="oauth-actions">
      <%= form_tag oauth_authorization_path, method: :delete do %>
        <%= hidden_field_tag :client_id, @pre_auth.client.uid, id: nil %>
        <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri, id: nil %>
        <%= hidden_field_tag :state, @pre_auth.state, id: nil %>
        <%= hidden_field_tag :response_type, @pre_auth.response_type, id: nil %>
        <%= hidden_field_tag :response_mode, @pre_auth.response_mode, id: nil %>
        <%= hidden_field_tag :scope, @pre_auth.scope, id: nil %>
        <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge, id: nil %>
        <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method, id: nil %>
        <%= submit_tag t('.deny'), class: "secondary" %>
      <% end %>
      
      <%= form_tag oauth_authorization_path, method: :post do %>
        <%= hidden_field_tag :client_id, @pre_auth.client.uid, id: nil %>
        <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri, id: nil %>
        <%= hidden_field_tag :state, @pre_auth.state, id: nil %>
        <%= hidden_field_tag :response_type, @pre_auth.response_type, id: nil %>
        <%= hidden_field_tag :response_mode, @pre_auth.response_mode, id: nil %>
        <%= hidden_field_tag :scope, @pre_auth.scope, id: nil %>
        <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge, id: nil %>
        <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method, id: nil %>
        <%= submit_tag session.dig(:stashed_data, "splash_continue") || t('.authorize') %>
      <% end %>
    </div>
  </div>
</div>
