<p class="greeting"><%= t(".greeting", first_name: @first_name) %></p>

<p class="body-text">
  <%= t(".body") %>
  <% if @session.device_info.present? %>
    on <b><%= @session.device_info %></b>
  <% end %>
  <% if @session.os_info.present? %>
    running <b><%= @session.os_info %></b>
  <% end %>
</p>

<p class="body-text">
  <%= t(".ip_label") %>
  <b>
    <% if @session.ip.present? %>
      <%= @session.ip %>
    <% else %>
      <%= t(".unknown") %>
    <% end %>
  </b>
</p>

<% if @session.latitude %>
  <img
    src="https://maps.hackclub.com/api/shipping?latitude=<%= @session.latitude %>&longitude=<%= @session.longitude %>&size=640x320"
    style="border-radius: 0.5rem; width: 80%">
<% end %>

<%= render "mailers/security_warning" %>

<p class="signature"><%= simple_format(t("mailer_common.signature")) %></p>
