<div id="sessions-container" hx-swap-oob="true">
  <% if @sessions.empty? %>
    <p class="blank-slate-text"><%= t ".blank_slate" %></p>
  <% else %>
    <div class="sessions-actions">
      <button class="secondary"
              hx-delete="<%= destroy_all_identity_sessions_path %>"
              hx-target="#sessions-container"
              hx-confirm="<%= t ".logout_others_confirmation" %>">
        <%= t ".logout_others" %>
      </button>
    </div>

    <div class="sessions-list">
      <%= render partial: "identity_session", collection: @sessions %>
    </div>
  <% end %>
</div>
