<p class="greeting"><%= t(".greeting", first_name: @first_name) %></p>

<p class="body-text"><%= t(".body") %></p>

<p class="body-text"><%= t(".reason_intro") %></p>

<div class="reason-block"><%= @reason_line %></div>

<p class="body-text"><%= t(".no_resubmit") %></p>

<p class="secondary-text"><%= t(".contact") %></p>

<p class="signature"><%= simple_format(t(".signature")) %></p>
