<article>
  <header>
    <h1>Sign in</h1>
  </header>
  <%= form_with url: login_path, method: :post, local: true do |form| %>
    <%= hidden_field_tag :return_to, params[:return_to] if params[:return_to].present? %>
    <div>
      <%= form.label :email, "Email" %>
      <%= form.email_field :email, required: true, value: @prefill_email, autofocus: true %>
    </div>
    <div>
      <%= form.submit "Send code" %>
    </div>
  <% end %>
</article>


