<article>
  <header>
    <h1>Enter SMS code</h1>
    <p>We sent a code to <%= @identity.phone_number.last(4) %>.</p>
  </header>
  <%= form_with url: verify_sms_login_attempt_path(@attempt), method: :post, local: true do |form| %>
    <%= hidden_field_tag :return_to, params[:return_to] if params[:return_to].present? %>
    <div>
      <%= form.label :code, "Enter the code from SMS" %>
      <%= form.text_field :code, required: true, inputmode: "numeric", pattern: "[0-9]*", autofocus: true, autocomplete: "one-time-code" %>
    </div>
    <div>
      <%= form.submit "Verify" %>
    </div>
  <% end %>
</article>

