<div class="grid">
  <%= render Components::Backend::Card.new(title: "two-factor authentication") do %>
    <p>enter your 2fa code to access the backend.</p>
    <hr>
    <%= form_with url: backend_two_factor_authentication_path, local: true do |f| %>
      <div class="form-row">
        <%= f.label :code, "code" %>
        <%= f.text_field :code, autofocus: true, autocomplete: "one-time-code", placeholder: "000000" %>
      </div>
      <div class="form-actions">
        <%= f.submit "verify", class: "action_button" %>
      </div>
    <% end %>
  <% end %>
</div>
