<%
  hotkey ||= nil
  onclick ||= nil
  selected ||= false
  type ||= "button"
%>
<button class="action_button<%= " selected" if selected %>" type="<%= type %>" <%= "onclick=#{onclick.inspect}".html_safe if onclick %>>
  <% if hotkey %><span class="hotkey"><%= hotkey %></span><% end %>
  <%= yield %>
</button>
