<%
  data = aadhaar_record.doc_json[:data]
%>
<column>
  <% if data[:photo].present? %>
    <row><span style="min-width: 12ch; color: var(--foreground2);">photo</span> <%= image_tag "data:image/jpeg;base64,#{data[:photo]}", style: "max-width: 10ch;" %></row>
  <% end %>
  <% { name: "full name", "Father Name": "father's name", dob: "date of birth", aadhar_number: "aadhaar number", gender: "assigned gender", co: "c/o" }.each do |key, label| %>
    <% value = data.dig(key) %>
    <% next if value.blank? %>
    <row><span style="min-width: 12ch; color: var(--foreground2);"><%= label %></span> <%= value %></row>
  <% end %>
  <% if data[:address].present? %>
    <row>
      <span style="min-width: 12ch; color: var(--foreground2);">address</span>
      <column>
        <% data[:address].each do |key, value| %>
          <% next if value.blank? %>
          <span><b><%= key %>:</b> <%= value %></span>
        <% end %>
      </column>
    </row>
  <% end %>
</column>
