<div class="page-header">
  <h1><%= t(".title") %></h1>
  <p><%= t(".verification_info") %></p>
</div>

<div class="page-sections">
  <%= form_with url: email_changes_path, method: :post, local: true, scope: :email_change do |f| %>
    <section class="section-card">
      <table style="width: 100%; border-collapse: collapse; border: none; background: none;">
        <tbody>
          <tr style="background: none;">
            <td style="width: 40%; vertical-align: top; background: none;">
              <div class="email-label"><%= t(".current_email") %></div>
            </td>
            <td style="width: 1%; vertical-align: top; text-align: center; background: none;"></td>
            <td style="width: 59%; vertical-align: top; background: none;  padding-left: 0;">
              <div class="email-label"><%= t(".new_email") %></div>
            </td>
          </tr>
          <tr style="height: 2.5rem; background: none;">
            <td style="vertical-align: middle; background: none;">
              <div class="email-value"><%= current_identity.primary_email %></div>
            </td>
            <td style="vertical-align: middle; text-align: center; background: none;">
              <div class="arrow">→</div>
            </td>
            <td style="vertical-align: middle; padding: 0; background: none;">
              <%= f.email_field :new_email, required: true, placeholder: "new@electronic.mail", autocomplete: "email", style: "margin: 0; height: 100%;" %>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="form-actions" style="margin-top: 2rem;">
        <%= f.submit t(".submit") %>
        <%= link_to t(".cancel"), edit_identity_path, class: "secondary", role: "button" %>
      </div>
    </section>
  <% end %>
</div>
