<%= render Components::Window.new("Identity Vault (#{Rails.env.upcase})") do %>
  <div class="padding">
    <b>Would you like to...</b>
    <ul>
      <% super_admin_tool do %>
        <li>
          <%= link_to "manage users", backend_users_path, { class: 'link' } %>?
        </li>
        <li>
          do a <%= link_to "good job", backend_good_job_path, { class: 'link' } %> today?
        </li>
        <li>
          <%= link_to "audit", backend_audits1984_path, { class: 'link' } %> console sessions?
        </li>
        <li>
          flip some <%= link_to "feature flags", backend_flipper_path, { class: 'link' } %>?
        </li>
      <% end %>
      <% program_manager_tool do %>
        <li>
          <%= link_to "manage programs", backend_programs_path, { class: 'link' } %>?
        </li>
      <% end %>
      <% mdv_tool do %>
        <li>
          <%= link_to "review pending verifications", pending_backend_verifications_path, { class: 'link' } %>
          <% if @pending_verifications_count && @pending_verifications_count > 0 %>
            (<%= @pending_verifications_count %> pending)
          <% end %>?
        </li>
      <% end %>
      <li>
        view <%= link_to "audit logs", backend_audit_logs_path, { class: 'link' } %>?
      </li>
      <li>
        view <%= link_to "identities", backend_identities_path, { class: 'link' } %>?
      </li>
      <li>
        view <%= link_to "dashboard", backend_dashboard_path, { class: 'link' } %>?
      </li>
    </ul>
  </div>
<% end %>
