<%#= render Components::Window.new("Identity Vault (#{Rails.env.upcase})") do %>
<!--  <div class="padding">-->
<!--    <b>Would you like to...</b>-->
<!--    <ul>-->
<%# super_admin_tool do %>
<!--        <li>-->
<!--        </li>-->
<!--        <li>-->
<!--        </li>-->
<!--        <li>-->
<!--        </li>-->
<!--        <li>-->
<!--        </li>-->
<%# end %>
<%# program_manager_tool do %>
<!--        <li>-->
<!--        </li>-->
<%# end %>
<%# mdv_tool do %>
<!--        <li>-->
<%#= link_to "review pending verifications", pending_backend_verifications_path, { class: 'link' } %>
<%# if @pending_verifications_count && @pending_verifications_count > 0 %>
<!--            (<%#= @pending_verifications_count %> pending)-->
<!--          <%# end %>?-->
<!--        </li>-->
<%# end %>
<!--      <li>-->
<!--        view <%#= link_to "audit logs", backend_audit_logs_path, { class: 'link' } %>?-->
<!--      </li>-->
<!--      <li>-->
<!--        view <%#= link_to "identities", backend_identities_path, { class: 'link' } %>?-->
<!--      </li>-->
<!--      <li>-->
<!--        view <%#= link_to "dashboard", backend_dashboard_path, { class: 'link' } %>?-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<%# end %>
<div class="grid">

  <%= render Components::Backend::Card.new(title: "Hack Club Auth Backend") do %>
    <% if current_user.super_admin? %>
      <b>Super admin:</b>
      <%= render Components::Backend::Item.new(icon: "⭢", href: backend_identities_path) do %>
        <b>Flipper?</b>&nbsp;<i>(i hardly know 'er!)</i>
        <p class="shortcode">&nbsp; [ FLIP ]</p>
      <% end %>
      <%= render Components::Backend::Item.new(icon: "⭢", href: backend_audits1984_path) do %>
        <b>Audits1984</b>
        <p class="shortcode">&nbsp; [ ORWL ]</p>
      <% end %>
      <%= render Components::Backend::Item.new(icon: "⭢", href: backend_good_job_path) do %>
        <b>Job queue</b>
        <p class="shortcode">&nbsp; [ JOBS ]</p>
      <% end %>
      <%= render Components::Backend::Item.new(icon: "⭢", href: backend_users_path) do %>
        <b>Manage users</b>
        <p class="shortcode">&nbsp; [ USRS ]</p>
      <% end %>
    <% end %>

    <% if current_user&.program_manager? || current_user&.super_admin? %>
      <b>Program manager:</b>
      <%= render Components::Backend::Item.new(icon: "⭢", href: backend_identities_path) do %>
        <b>Manage OAuth2 apps</b>
        <p class="shortcode">&nbsp; [ APPS ]</p>
      <% end %>
    <% end %>


    <% if current_user&.manual_document_verifier? || current_user&.super_admin? %>
      <b>Manual document verifier:</b>
      <%= render Components::Backend::Item.new(icon: "⭢", href: backend_identities_path) do %>
        <b>Review pending verifications</b>
        <p class="shortcode">&nbsp; [ VERF ]</p>
      <% end %>
    <% end %>
    <hr/>
    <%= render Components::Backend::Item.new(icon: "⭢", href: backend_identities_path) do %>
      <b>Manage identities</b>
      <p class="shortcode">&nbsp; [ IDNT ]</p>
    <% end %>
    <%= render Components::Backend::Item.new(icon: "⊹", href: backend_identities_path) do %>
      <b>Go anywhere</b>
      <p class="shortcode">&nbsp; <&nbsp;⌘-K&nbsp;&nbsp;></p>
    <% end %>
    <hr/>
    <%= render Components::Backend::Item.new(icon: "⭠", href: root_path) do %>
      <b>Escape hatch</b>
      <p class="shortcode">&nbsp; [ EXIT ]</p>
    <% end %>
  <% end %>
</div>
