<div class="grid">
  <%= render Components::Backend::Card.new(title: "identity vault [#{Rails.env.upcase[0..3]}]") do %>
    <p>abandon hope, all ye who enter here...</p>
    <hr/>
    <%= render Components::Backend::Item.new(icon: "⭢", href: backend_slack_auth_path) do %>
      <b>sign in with slack</b>
    <% end %>
    <% dev_tool do %>
      <hr/>
      <%= form_with url: backend_fake_slack_callback_for_dev_path, method: :post, local: true do |f| %>
        <div class="form-row">
          <%= f.label :slack_id, "fake slack id" %>
          <%= f.text_field :slack_id, placeholder: "U12345678" %>
          <%= f.submit "fake it", class: "action_button" %>
        </div>
      <% end %>
    <% end %>
    <hr/>
    <small>running commit <%= ENV["SOURCE_COMMIT"]&.[](0..7) || "...dunno?" %></small>
  <% end %>
</div>
