<%= form_with model: address, url: local_assigns[:url], local: true do |f| %>
  <% if local_assigns[:from_program] %>
    <%= f.hidden_field :from_program, value: true %>
  <% end %>
  
  <% if address.errors.any? %>
    <div class="banner danger" style="margin-bottom: 1.5rem;">
      <h4 style="color: var(--error-fg); margin: 0 0 0.5rem;"><%= pluralize(address.errors.count, "issue") %> prevented this from being saved:</h4>
      <ul style="margin: 0; padding-left: 1.5rem;">
        <% address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid">
    <%= f.text_field :first_name, placeholder: t("addresses.first_name"), required: true %>
    <%= f.text_field :last_name, placeholder: t("addresses.last_name"), required: true %>
  </div>

  <%= f.text_field :line_1, placeholder: t("addresses.line_1"), required: true %>
  <%= f.text_field :line_2, placeholder: "#{t("addresses.line_2")} (optional)" %>
  
  <div class="grid">
    <%= f.text_field :city, placeholder: t("addresses.city"), required: true %>
    <%= f.text_field :state, placeholder: t("addresses.state"), required: true %>
  </div>
  
  <div class="grid">
    <%= f.text_field :postal_code, placeholder: t("addresses.postal_code"), required: true %>
    <%= f.collection_select :country, Address.countries_for_select,
                            :first, :last,
                            { include_blank: "Country" },
                            { required: true } %>
  </div>

  <div class="form-actions">
    <%= f.submit local_assigns[:submit] || t("addresses.save") %>
    <% unless local_assigns[:from_program] %>
      <%= link_to t("addresses.cancel"), addresses_path, role: "button", class: "secondary" %>
    <% end %>
  </div>
<% end %>
