<%= form_with model: address, url: local_assigns[:url], local: true do |f| %>
  <% if local_assigns[:from_program] %>
    <%= f.hidden_field :from_program, value: true %>
  <% end %>
  <% if address.errors.any? %>
    <div class="banner danger">
      <h4 style="color: var(--error-fg);"><%= pluralize(address.errors.count, "issue") %> prevented this from being saved:</h4>
      <ul>
        <% address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Address Details</legend>
    <div class="grid">
      <%= f.text_field :first_name, placeholder: "First name", required: true %>
      <%= f.text_field :last_name, placeholder: "Last name", required: true %>
    </div>
    <%= f.text_field :line_1, placeholder: "Address line 1", required: true %>
    <%= f.text_field :line_2, placeholder: "Address line 2 (optional)" %>
    <div class="grid">
      <%= f.text_field :city, placeholder: "City", required: true %>
      <%= f.text_field :state, placeholder: "State/Province", required: true %>
    </div>
    <%= f.text_field :postal_code, placeholder: "Postal code", required: true %>
    <%= f.label :country, "Country" %>
    <%= f.collection_select :country, Address.countries_for_select,
                             :first, :last,
                             { include_blank: "Select a country" },
                             { required: true } %>
  </fieldset>

  <footer style="text-align: center; margin-top: 2rem;">
    <%= f.submit local_assigns[:submit] || "Save Address" %>
  </footer>
<% end %>
