<div class="page-header">
  <h1><%= t('.title') %></h1>

  <% if @addresses.any? %>
    <div class="header-actions">
      <%= link_to "Add New Address", new_address_path, role: "button" %>
    </div>
  <% end %>
</div>

<% if @addresses.any? %>
  <div class="card-list">
    <% @addresses.each do |address| %>
      <article class="card">
        <div class="address-header">
          <h3>
            <%= address.first_name %> <%= address.last_name %>
          </h3>
          <% if current_identity.primary_address == address %>
              <span class="primary-badge">
                🏠 <%= t "addresses.primary" %>
              </span>
          <% end %>
        </div>

        <div class="address-details">
          <p>
            <%= address.line_1 %><br>
            <% if address.line_2.present? %>
              <%= address.line_2 %><br>
            <% end %>
            <%= address.city %>, <%= address.state %> <%= address.postal_code %><br>
            <%= address.country %>
          </p>
        </div>

        <div class="address-actions">
          <%= button_to t(".edit"), edit_address_path(address), method: :get, class: "secondary" %>
          <% unless current_identity.primary_address == address %>
            <%= button_to t(".make_primary"), address_path(address, make_primary: true), method: :patch %>
          <% end %>
          <%= button_to t(".delete"), address, method: :delete,
                        form: { "hx-confirm": t(".delete_confirmation") },
                        class: "secondary danger" %>
        </div>
      </article>
    <% end %>
  </div>
<% else %>
  <div class="empty-state">
    <div class="empty-icon">📬</div>
    <h3><%= t ".blank_slate.title" %></h3>
    <p><%= t ".blank_slate.cta" %></p>
    <%= link_to t(".blank_slate.create"), new_address_path, role: "button" %>
  </div>
<% end %>