<%= render Components::Window.new("Programs", close_url: backend_root_path, max_width: 800) do %>
  <div class="padding">
    <div class="list">
      <table class="detailed">
        <thead>
          <tr>
            <th>Program Name</th>
            <th>Owner</th>
            <th>OAuth Application</th>
            <th>Scopes</th>
            <th>Users</th>
            <th>Active?</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @programs.each do |program| %>
            <tr>
              <td>
                <div class="icon-label">
                  <strong><%= program.name %></strong>
                  <% if program.description.present? %>
                    <br>
                    <small><%= truncate(program.description, length: 60) %></small>
                  <% end %>
                </div>
              </td>
              <td>
                <% if program.owner_identity.present? %>
                  <%= render Components::UserMention.new(program.owner_identity) %>
                <% else %>
                  <em style="color: var(--text-secondary);">HQ</em>
                <% end %>
              </td>
              <td>
                <small>
                  ID: <%= program.uid %><br>
                  Name: <%= program.name %>
                </small>
              </td>
              <td>
                <% if program.scopes.present? %>
                  <code><%= program.scopes %></code>
                <% else %>
                  <em>No scopes</em>
                <% end %>
              </td>
              <td><%= program.identities.distinct.count %></td>
              <td><%= render_checkbox(program.active?) %></td>
              <td>
                <%= link_to "View", backend_program_path(program), class: "link" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="mt-4">
        <%= link_to "New Program", new_backend_program_path, class: "button" %>
      </div>
    </div>
  </div>
<% end %>
