<div class="grid">
  <%= render "backend/shared/card", title: "audit logs" do %>
    <div class="button_group full">
      <% if params[:admin_actions_only] %>
        <%= link_to backend_audit_logs_path do %>
          <%= render("backend/shared/action_button") { "ALL" } %>
        <% end %>
        <%= render("backend/shared/action_button", selected: true) { "ADMIN" } %>
      <% else %>
        <%= render("backend/shared/action_button", selected: true) { "ALL" } %>
        <%= link_to backend_audit_logs_path(admin_actions_only: true) do %>
          <%= render("backend/shared/action_button") { "ADMIN" } %>
        <% end %>
      <% end %>
    </div>
    <hr>
    <%= render "backend/shared/activity_log", activities: @activities %>
    <%= paginate @activities %>
  <% end %>
</div>
