<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title><%= content_for(:title) || "Identity Vault" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <script>
      (function() {
        let savedTheme = localStorage.getItem("theme");
        if (!savedTheme) {
          savedTheme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
          localStorage.setItem("theme", savedTheme);
        }
        document.documentElement.dataset.theme = savedTheme;
      })();
    </script>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "application.css" %>
    <%= vite_javascript_tag 'application' %>
  </head>
  <body>
    <main class="container">
      <%= render Components::Brand.new(identity: current_identity) %>
      <%= render "shared/flash" %>
      <span id="async_flash"></span>
      <%= yield %>
      <%= render Components::Footer.new %>
    </main>
    <% unless Rails.env.production? %>
      <div class="environment <%= Rails.env %>" />
      <% end %>
    </body>
  </html>
