<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hack Club Auth" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag "backend.css" %>
    <%= vite_javascript_tag 'backend' %>
  </head>
  <body>
    <%= render "shared/flash" %>
    <%= yield %>
    <% unless Rails.env.production? %>
      <div class="environment <%= Rails.env %>">
      <% end %>
    </body>
  </html>
